<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Index</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
</head>

<body>
    <form method="POST" class="post-form" action="/emp">
        {% csrf_token %}
        <div class="container">
            <br>
            <div class="form-group row">
                <label class="col-sm-1 col-form-label"></label>
                <div class="col-sm-4">
                    <h3>Enter Details</h3>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Employee Id:</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" name="eid" required title="Employee Id is required" >
                    <!-- {{ form.eid }} -->
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Employee First Name:</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" name="firstname" >
                    <!-- {{ form.firstname }} -->
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Employee Last Name:</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" name="lastname" >
                    <!-- {{ form.lastname }} -->
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Employee Email:</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" name="email" >
                    <!-- {{ form.email }} -->
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Employee Password:</label>
                <div class="col-sm-4">
                    <input type="password" class="form-control" name="password" >
                    <!-- {{ form.password }} -->
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Employee Contact:</label>
                <div class="col-sm-4">
                    <input type="text"  name="contact" class="form-control" />
                    <!-- {{ form.contact }} -->
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Employee Address:</label>
                <div class="col-sm-4">
                    <textarea name="address" id="" rows="3" class="form-control"></textarea>
                    <!-- {{ form.address }} -->
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-1 col-form-label"></label>
                <div class="col-sm-4">
                    <button type="submit" class="btn btn-primary">Submit</button>
                    <a href="/show" class="btn btn-info">Back To List</a>
                </div>
            </div>
        </div>
    </form>
</body>

</html>